body{
    background-color: black;
}
.background{
background-color: brown;
width: 420px;
height: 520px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.circle{
    background-color: aqua;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
